
@mixin wrapdat() {
  white-space: pre;           /* CSS 2.0 */
  white-space: pre-wrap;      /* CSS 2.1 */
  white-space: pre-line;      /* CSS 3.0 */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap;  /* HP Printers */
  word-wrap: break-word;      /* IE 5+ */
}


.l-intro-container {

	position: relative;

	height: 700px; // until the js kicks in
	background-size: 400px;
	background-image: url('../img/landingscape.png');

	background-repeat: repeat-x;
	background-position: bottom center;

	overflow: hidden;


	@include breakpoint(portrait) {
		background-size: 800px;
	}
}


.l-tower-container {
		width: 80px;
		padding-top: 40px;
		padding-bottom: 10px;

	margin: 0 auto;


	@include breakpoint(portrait) {
		width: 120px;
		padding-top: 80px;
		padding-bottom: 20px;
	}


}


.l-console-container {
	padding-top: 40px;
	text-align: center;
	position: relative;
	z-index: 5;

	@include breakpoint(portrait) {
		padding-top: 10px;
	}
}

.console__text {
	font-family: $serif;
	font-weight: 400;
	font-size: 30px;

	padding-bottom: 20px;

	@include breakpoint(portrait) {
		font-size: 42px;
	}
}


.poke_container {
	position: absolute;
	bottom: 5px;
	width: auto;
	max-width: 30%;

	@include breakpoint(portrait) {
		bottom: 15px;
		width: auto;
	}
}




.alert__message {
	font-family: $mono;
}


.pokeinput {
	margin-top: 20px;
		margin-bottom: 40px;
	width: 100%;
	max-width: 400px;
	border-top: none;
	border-left: none;
	border-right: none;
	background: rgba(255, 255, 255, 0.8);


	&:focus {
		outline: none;

		&::-webkit-input-placeholder { /* WebKit browsers */
    		color:    #EBEBEB;
		}
		&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		    color:    #EBEBEB;
		}
		&::-moz-placeholder { /* Mozilla Firefox 19+ */
		    color:    #EBEBEB;
		}
		&:-ms-input-placeholder { /* Internet Explorer 10+ */
		    color:    #EBEBEB;
		}
	}
}


.chatbox {

	position: absolute;

	z-index: 2;

	left: 0;
	right: 0;

	bottom: 120px;


	p {
		width: 300px;
		font-size: 12px;
		text-align: center;
	}

	span {
		@include wrapdat;
		display: block;
		text-align: center;
		width: 300px;
		margin-left: -117px;
	}
}

