// nothin' here..

.l-intro-container {

	position: relative;

	@include rem(height, 700px); // until the js kicks in
	@include rem(background-size, 400px);
	background-image: url('../img/landingscape.png');
	
	background-repeat: repeat-x;
	background-position: bottom center;

	overflow: hidden;


	@include breakpoint(portrait) {
		@include rem(background-size, 800px);
	}
}


.l-tower-container {
		@include rem(width, 80px);
		@include rem(padding-top, 40px);
		@include rem(padding-bottom, 10px);
	
	margin: 0 auto;


	@include breakpoint(portrait) {
		@include rem(width, 120px);
		@include rem(padding-top, 80px);
		@include rem(padding-bottom, 20px);
	}


}	


.l-console-container {
	@include rem(padding-top, 40px);
	text-align: center;
	position: relative;
	z-index: 5;

	@include breakpoint(portrait) {
		@include rem(padding-top, 10px);
	}
}

.console__text {
	font-family: $serif;
	font-weight: 400;
	font-size: 30px;

	@include rem(padding-bottom, 20px);

	@include breakpoint(portrait) {
		font-size: 42px;
	}
}


.poke_container {
	position: absolute;
	@include rem(bottom, 5px);
	width: auto;
	max-width: 30%;

	@include breakpoint(portrait) {
		@include rem(bottom, 15px);
		width: auto;
	}
}




.alert__message {
	font-family: $mono;
}


.pokeinput {
	@include rem(margin-top, 20px);
		@include rem(margin-bottom, 40px);
	width: 100%;
	@include rem(max-width, 400px);
	border-top: none;
	border-left: none;
	border-right: none;
	background: rgba(255,255,255,0.8);
		

	&:focus {
		outline: none;

		&::-webkit-input-placeholder { /* WebKit browsers */
    		color:    #EBEBEB;
		}
		&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		    color:    #EBEBEB;
		}
		&::-moz-placeholder { /* Mozilla Firefox 19+ */
		    color:    #EBEBEB;
		}
		&:-ms-input-placeholder { /* Internet Explorer 10+ */
		    color:    #EBEBEB;
		}
	}
}


.chatbox {
	
	position: absolute;	

	z-index: 2;

	left: 0;
	right: 0;

	@include rem(bottom, 120px);


	p {
		@include rem(font-size, 12px);
	}

	span {
		display: block;
		text-align: center;
		@include rem(width, 300px);
		@include rem(margin-left, -120px);
	}
}

