
// Icons ////////////////////////////////////////////////////////////////////////


@mixin icon($width, $height, $display) {

    display: $display;
    width: $width;
    height: $height;

    background-position: center center;

    background-size: $width $height;
}
