---
title: Haustraliaer
---

<div id="js-fullscreen-intro" class="l-intro-container">

  <div class="l-row">

    <div class="l-tower-container">

      <img src="assets/img/tower-2.png" alt="A tower on a rock, floating in the air.">

    </div>


    <div id="js-text-area" class="l-console-container">

      <p class="console__text">Haustralia<em>er</em></p>

      <input class="pokeinput" type='text' id='messageInput' placeholder='Shout into the ether...'>

    </div>

  </div>


  <div class="chatbox"></div>

</div>
