
@font-face {
	font-family: 'poke-font';
	src: url('../fonts/pokemon_gb-webfont.eot');
	src: url('../fonts/pokemon_gb-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pokemon_gb-webfont.woff') format('woff'),
		 url('../fonts/pokemon_gb-webfont.ttf') format('truetype'),
		 url('../fonts/pokemon_gb-webfont.svg#pokemon_gb-webfont') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
}

$mono: 'poke-font', mono;
$serif: 'Hoefler Text A', 'Hoefler Text B', serif;
